html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: #391400;
  font-family: "Epilogue", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.container {
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 8rem;
}

/*****Header*****/

.header {
  position: relative;
  margin: 0 auto;
  padding: 20px 10rem;
  background: #201e1e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.logo {
  font-size: 32px;
  color: #ffff;
  text-decoration: none;
  font-weight: 800;
  pointer-events: fill;
  font-family: "epilogue";
  opacity: 0;
  animation: slideTop 1s ease forwards;
}

.logo span {
  font-size: 18px;
  font-weight: 500;
  font-family: "epilogue";
}

.navbar a {
  font-size: 18px;
  color: #ffff;
  text-decoration: none;
  font-weight: 700;
  margin-left: 30px;
  font-family: "epilogue";
  opacity: 0;
  transition: all 0.3s;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.5s;
}

.navbar a:hover {
  color: #8a0007ae;
}

/****Main Section****/

.home {
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.home__border {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  padding: 40px;
  border: 1px solid #55555530;
  box-shadow: 5px 5px 10px #55555550;
  border-radius: 10px;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  font-family: "Epilogue";
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #391400;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.3s;
  margin-bottom: 20px;
}

.home-content h3 {
  font-family: "Epilogue";
  font-weight: 800;
  font-size: 28px;
  line-height: 48px;
  color: #391400;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.3s;
}

.home-content p {
  font-family: "Epilogue";
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #391400;
  margin: 20px 0 40px;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.3s;
}

.btn,
.btn2 {
  font-family: "Epilogue";
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #391400;
}

.btn:hover,
.btn2:hover {
  color: white;
}

.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  width: 130px;
  height: 40px;
  border-radius: 40px;
  text-decoration: none;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.3s;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: #6c43cc;
  background-size: 200%;
  z-index: -1;
  border-radius: 40px;
  filter: blur(5px);
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: #6c43cc;
  background-size: 200%;
  z-index: -1;
  border-radius: 40px;
  transition: 0.5s ease;
}

.btn:hover::after {
  background: #8a0008;
}

.btn2 {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 40px;
  border-radius: 40px;
  text-decoration: none;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.3s;
}

.btn2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: #009232;
  background-size: 200%;
  z-index: -1;
  border-radius: 40px;
  filter: blur(5px);
}

.btn2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: #009232;
  background-size: 200%;
  z-index: -1;
  border-radius: 40px;
  transition: 0.5s ease;
}

.btn2:hover::after {
  background: #8a0008;
}

.home-icon a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 22px;
  color: black;
  text-decoration: none;
  margin: 20px 0;
  z-index: 1;
  opacity: 0;
  transition: 1s;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.8s;
}

.home-icon a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #8a0008;
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s ease;
  filter: blur(1px);
}

.home-icon a:hover::before {
  filter: blur(5px);
}

.home-icon a:hover {
  color: white;
}

.home-icon a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 50%;
  transform: scale(0.88);
  transition: 0.5s ease;
  z-index: -1;
}

.home-icon a:hover::after {
  transform: scale(0);
}

.home-img {
  opacity: 0;
  animation: slidezoomIn 1s ease forwards;
  animation-delay: 0.7s, 2s;
}

.img-circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
}

.image img {
  position: absolute;
  left: 30%;
  bottom: 10px;
  transform: translateX(-50%);
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
}

/****First Section****/

.section1 {
  margin-bottom: 150px;
}

.first__section {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 60px;
  padding: 40px 20px;
  border-radius: 10px;
  border: 1px solid #55555530;
  box-shadow: 5px 5px 10px #55555550;
}

.first__section-content {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.progressbar {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin: 0 15px;
  padding: 0 10px;
  border-radius: 7px;
  border: 1px solid #55555530;
  box-shadow: 5px 5px 10px #55555550;
}

.progressbar .skill-box {
  width: 100%;
  margin: 15px 0;
}

.skill-box .title {
  display: flex;
  font-size: 14;
  font-weight: 700;
  color: #391400;
}

.skill-box .skill-bar {
  width: 100%;
  height: 25px;
  border-radius: 10px;
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.1);
}

.skill-bar .skill-per {
  position: relative;
  display: block;
  height: 100%;
  width: 80%;
  border-radius: 40px;
  background: #6c43cc;
  animation: progress 1.2s ease-in-out forwards;
}

.skill-bar .second {
  width: 70%;
  background: #391400;
}

.skill-bar .third {
  width: 90%;
  background: #d66300eb;
}

.skill-bar .forth {
  width: 25%;
  background: #8a0008;
}

.skill-bar .fifth {
  width: 25%;
  background: #534476;
}

.skill-bar .sixth {
  width: 90%;
  background: #282121;
}

.skill-per .tooltip {
  position: absolute;
  right: -20px;
  top: -28px;
  font-weight: 700;
  color: #391400;
}

.main-title {
  font-family: "Epilogue";
  font-weight: 900;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #391400;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.border__project {
  position: relative;
  width: 380px;
  height: 350px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px gray;
  overflow: hidden;
}

.border__project img {
  width: 380px;
  height: 360px;
  transition: 0.5s ease-in-out;
}

.border__project:hover img {
  transform: scale(1.1);
}

.border__project .project__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: 0.5s;
}

.border__project:hover .project__inner {
  transform: translateY(0);
}

.project__inner h3 {
  font-family: "Epilogue";
  font-weight: 800;
  font-size: 2em;
  color: rgb(255, 255, 255);
}

.project__inner p {
  font-family: "Epilogue";
  font-weight: 500;
  font-size: 1em;
  color: white;
}

.border__projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

/****Second Section****/

.section2 {
  margin-bottom: 150px;
}

.contact__section {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  border-radius: 10px;
  border: 1px solid #55555530;
  box-shadow: 5px 5px 10px #55555550;
}

.Contact__info p {
  font-family: "Epilogue";
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #391400;
  margin: 20px 8px 40px;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.3s;
}

.mail__img {
  margin-bottom: 150px;
}

.phone__img,
.mail__img {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 35px;
}

.phone__img a,
.mail__img a {
  font-family: "Epilogue";
  font-weight: 900;
  font-size: 28px;
  line-height: 30px;
  color: #391400;
  text-decoration: none;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.3s;
}

.phone__img img,
.mail__img img {
  position: relative;
  padding: 8px;
  border-radius: 50%;
  background: #391400;
  transition: 0.8s ease;
  margin-bottom: 20px;
}

.phone__img img:hover,
.mail__img img:hover {
  transform: scale(0.9);
  background: #8a0008;
}

.contact__textme {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px 30px;
  border: 1px solid black;
  width: 500px;
  background: #201e1e;
  border-radius: 10px;
}

.main-title.title__text {
  color: white;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 50px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  height: 100%;
  width: 100%;
}

.contact__form .form {
  width: 90%;
  height: 50px;
  border-radius: 40px;
  border: none;
  padding-left: 20px;
  font-family: "Epilogue";
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #391400;
}

.contact__form .massege {
  width: 90%;
  max-height: 120px;
  border-radius: 30px;
  border: none;
  padding: 10px 0 0 20px;
  font-family: "Epilogue";
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #391400;
}

.btn2.btn3 {
  margin-top: 40px;
}

/****Footer****/

.footer {
  background: #201e1e;
}

.footer__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 40px 0;
}

.footer__section h3 {
  font-family: "Epilogue";
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1rem;
  color: rgba(255, 255, 255, 0.514);
}

.navbar.navbar_footer a {
  font-weight: 700;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.514);
}

.navbar.navbar_footer {
  margin-bottom: 10px;
  margin-right: 15px;
}

.icons {
  display: flex;
  gap: 20px;
}

.icons img {
  transition: 0.5s ease;
  border: none;
}

.icons img:hover {
  transform: scale(1.1);
}

/****Animations****/

@keyframes progress {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slidezoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
