html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: #391400;
  font-family: "Epilogue", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.container {
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 8rem;
}

/*****Header*****/

.header {
  position: relative;
  margin: 0 auto;
  padding: 20px 10rem;
  background: #201e1e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.logo {
  font-size: 32px;
  color: #ffff;
  text-decoration: none;
  font-weight: 800;
  pointer-events: fill;
  font-family: "epilogue" sans-serif;
  opacity: 0;
  animation: slideTop 1s ease forwards;
}

.logo span {
  font-size: 18px;
  font-weight: 500;
  font-family: "epilogue" sans-serif;
}

.navbar a,
.menu_dropdown {
  font-size: 18px;
  color: #ffff;
  text-decoration: none;
  font-weight: 700;
  margin-left: 30px;
  font-family: "epilogue" sans-serif;
  opacity: 0;
  transition: all 0.3s;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.5s;
}

.navbar a:hover,
.menu_dropdown:hover {
  color: #8a0007ae;
}

.menu-icon {
  position: relative;
  font-size: 45px;
  color: white;
  transition: all 0.3s ease-in-out;
}

.menu-icon:hover {
  color: #461e08;
  transform: rotate(-90deg);
}

.listing {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 120%;
  right: -40px;
  padding: 10px 25px 10px 0;
  list-style: none;
  background: #201e1e;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
}

.menu__list {
  position: relative;
  text-align: center;
  display: none;
}

.menu__list:hover .listing {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

/****Main Section****/

.section {
  margin-bottom: 150px;
}

.home__border {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 40px;
  border: 1px solid #55555530;
  box-shadow: 5px 5px 10px #55555550;
  border-radius: 10px;
}

.home-content {
  max-width: 600px;
}

.main__title {
  font-family: "Epilogue" sans-serif;
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #391400;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.3s;
  margin-bottom: 20px;
}

.second__title {
  font-family: "Epilogue" sans-serif;
  font-weight: 800;
  font-size: 28px;
  line-height: 48px;
  color: #391400;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.3s;
}

.main__paragraph {
  font-family: "Epilogue" sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #391400;
  margin: 20px 0 40px;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.3s;
}

.btn,
.btn2 {
  font-family: "Epilogue" sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #391400;
}

.btn:hover,
.btn2:hover {
  color: white;
}

.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  width: 130px;
  height: 40px;
  border-radius: 40px;
  text-decoration: none;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.3s;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: #6c43cc;
  background-size: 200%;
  z-index: -1;
  border-radius: 40px;
  filter: blur(5px);
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: #6c43cc;
  background-size: 200%;
  z-index: -1;
  border-radius: 40px;
  transition: 0.5s ease;
}

.btn:hover::after {
  background: #8a0008;
}

.btn2 {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 40px;
  border-radius: 40px;
  text-decoration: none;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.3s;
}

.btn2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: #009232;
  background-size: 200%;
  z-index: -1;
  border-radius: 40px;
  filter: blur(5px);
}

.btn2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: #009232;
  background-size: 200%;
  z-index: -1;
  border-radius: 40px;
  transition: 0.5s ease;
}

.btn2:hover::after {
  background: #8a0008;
}

.home-icon a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 22px;
  color: black;
  text-decoration: none;
  margin: 20px 0;
  z-index: 1;
  opacity: 0;
  transition: 1s;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.8s;
}

.home-icon a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #8a0008;
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s ease;
  filter: blur(1px);
}

.home-icon a:hover::before {
  filter: blur(5px);
}

.home-icon a:hover {
  color: white;
}

.home-icon a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 50%;
  transform: scale(0.88);
  transition: 0.5s ease;
  z-index: -1;
}

.home-icon a:hover::after {
  transform: scale(0);
}

.image img {
  width: 300px;
  height: 300px;
  width: 100%;
  border-radius: 50%;
  opacity: 0;
  animation: slidezoomIn 1s ease forwards;
  animation-delay: 0.7s, 2s;
}

/****First Section****/

.section1 {
  margin-bottom: 150px;
}

.first__section {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 60px;
  padding: 60px 20px;
  border-radius: 10px;
  border: 1px solid #55555530;
  box-shadow: 5px 5px 10px #55555550;
}

.first__section-content {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.progressbar {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin: 0 15px;
  padding: 0 10px;
  border-radius: 7px;
  border: 1px solid #55555530;
  box-shadow: 5px 5px 10px #55555550;
}

.progressbar .skill-box {
  width: 100%;
  margin: 15px 0;
}

.skill-box .title {
  display: flex;
  font-size: 14;
  font-weight: 700;
  color: #391400;
}

.skill-box .skill-bar {
  width: 100%;
  height: 25px;
  border-radius: 10px;
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.1);
}

.skill-bar .skill-per {
  position: relative;
  display: block;
  height: 100%;
  width: 80%;
  border-radius: 40px;
  background: #6c43cc;
  animation: progress 1.2s ease-in-out forwards;
}

.skill-bar .second {
  width: 70%;
  background: #391400;
}

.skill-bar .third {
  width: 90%;
  background: #d66300eb;
}

.skill-bar .forth {
  width: 25%;
  background: #8a0008;
}

.skill-bar .fifth {
  width: 25%;
  background: #534476;
}

.skill-bar .sixth {
  width: 90%;
  background: #282121;
}

.skill-per .tooltip {
  position: absolute;
  right: -20px;
  top: -28px;
  font-weight: 700;
  color: #391400;
}

.border__project {
  position: relative;
  width: 380px;
  height: 360px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px gray;
  overflow: hidden;
}

.border__project img {
  width: 380px;
  height: 360px;
  transition: 0.5s ease-in-out;
}

.border__project:hover img {
  transform: scale(1.1);
}

.border__project .project__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: 0.5s;
}

.border__project:hover .project__inner {
  transform: translateY(0);
}

.project__inner h3 {
  font-family: "Epilogue" sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.project__inner p {
  font-family: "Epilogue" sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: white;
}

.border__projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

/****Second Section****/

.section2 {
  margin-bottom: 150px;
}

.contact__section {
  display: flex;
  justify-content: space-between;
  padding: 60px 20px;
  border-radius: 10px;
  border: 1px solid #55555530;
  box-shadow: 5px 5px 10px #55555550;
}

.mail__img {
  margin-bottom: 150px;
}

.phone__img,
.mail__img {
  display: flex;
  align-items: center;
  gap: 35px;
  font-family: "Epilogue" sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 30px;
  color: #391400;
  text-decoration: none;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.3s;
}

.img {
  position: relative;
  padding: 8px;
  border-radius: 50%;
  background: #391400;
  transition: 0.8s ease;
  margin-bottom: 20px;
}

.img:hover {
  transform: scale(0.9);
  background: #8a0008;
}

.contact__textme {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px 30px;
  border: 1px solid black;
  width: 500px;
  background: #201e1e;
  border-radius: 10px;
}

.main__title.title__text {
  color: white;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 50px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  height: 100%;
  width: 100%;
}

.contact__form .form {
  width: 90%;
  height: 50px;
  border-radius: 40px;
  border: none;
  padding-left: 20px;
  font-family: "Epilogue" sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #391400;
}

.contact__form .massege {
  width: 90%;
  max-height: 120px;
  border-radius: 30px;
  border: none;
  padding: 10px 0 0 20px;
  font-family: "Epilogue" sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #391400;
}

.btn2.btn3 {
  margin-top: 40px;
  cursor: pointer;
  border: none;
}

/****Footer****/

.footer {
  background: #201e1e;
}

.footer__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 40px 0;
}

.footer__section h3 {
  font-family: "Epilogue" sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1rem;
  color: rgba(255, 255, 255, 0.514);
}

.navbar.navbar_footer a {
  font-weight: 700;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.514);
}

.navbar.navbar_footer {
  margin-bottom: 10px;
  margin-right: 15px;
}

.icons {
  display: flex;
  gap: 20px;
}

.icons img {
  transition: 0.5s ease;
  border: none;
}

.icons img:hover {
  transform: scale(1.1);
}

/*****Animations*****/

@keyframes progress {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slidezoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/*****Media*****/

@media (max-width: 1270px) {
  .header {
    padding: 14px 10%;
    transition: 0.2s;
  }
  .logo {
    padding: 5px 15px;
    margin: 0 10px;
  }

  .menu__list {
    display: flex;
  }

  .navbar__header {
    opacity: 0;
    display: none;
  }

  .first__section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .btns {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .home__border {
    gap: 80px;
  }
  .home-content {
    max-width: 400px;
  }
  .main__title {
    font-size: 36px;
    line-height: 40px;
  }
  .second__title,
  .project__inner h3 {
    font-size: 18px;
    line-height: 30px;
  }
  .main__paragraph,
  .title,
  .tooltip {
    font-size: 12px;
    line-height: 20px;
  }
  .image img {
    width: 200px;
    height: 200px;
  }
  .btn {
    margin-bottom: 10px;
  }
  .container {
    margin: 0 auto;
    padding: 0 3rem;
  }
  .section,
  .section1,
  .section2 {
    margin-bottom: 100px;
  }
}

@media (max-width: 870px) {
  .container {
    margin: 0 auto;
    padding: 0 1rem;
  }
  .section,
  .section1,
  .section2 {
    margin-bottom: 100px;
  }
  .home__border {
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
  .home-icon {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
  }
  .main__paragraph {
    font-size: 10px;
    line-height: 18px;
  }
  .border__project {
    height: 320px;
    display: flex;
    justify-content: center;
  }
  .contact__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
  }
  .mail__img,
  .phone__img {
    gap: 10px;
  }
  .img {
    width: 50px;
    height: 50px;
  }
  .mail__img,
  .phone__img {
    font-size: 10px;
  }
  .Contact__info {
    width: 100%;
  }
  .mail__img {
    margin-bottom: 0;
  }
  .contact__imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
  }
  .contact__textme {
    max-width: 500px;
    width: 100%;
  }
}

@media (max-width: 390px) {
  .title,
  .tooltip {
    font-size: 10px;
  }
  .logo span {
    margin-left: 15px;
  }
}
